<div class="todos">
    <form  (submit)="addTodo()">
        <input 
            type="text"
            name="inputTodo"
            placeholder="Create a new TODO..."
            class="todos--input"
            [(ngModel)]="inputTodo"
        />
        <input 
            type="submit"
            value="ADD"
            class="todos--add"
            
        >
    </form>
    <div class="todos--heading">Current Tasks</div>
    <div class="todos--wrapper">
        <ul class="todos--list">
            <li
                *ngFor="let todo of todos; let i = index;"
                class="todo {{(todo.completed ? 'completed' : '')}}"
                (click)="onToggle(i)"
            >
                <div class="todo--toggle-btn"></div>
                <div class="todo--content">{{todo.content}}</div>
            </li>
        </ul>
        <div class="todos--footer">
            <h2 class="todos--count">Total tasks: <span>{{todos.length}}</span></h2>
            <a  
                class="todos--delete-btn"
                (click)="onDelete()"
                
            >Clear Completed</a>
        </div>
    </div>
</div>