<div class="todos">
    <form>
        <input 
            type="text"
            name="inputTodo"
            placeholder="Create a new TODO..."
            class="todos--input"
        />
        <input 
            type="submit"
            value="ADD"
            class="todos--add"
        >
    </form>
    <div class="todos--heading">Current Tasks</div>
    <div class="todos--wrapper">
        <ul class="todos--list">
            <li
                class="todo completed"
            >
                <div class="todo--toggle-btn"></div>
                <div class="todo--content">This is Task #1 (not Completed)</div>
            </li>
            <li
                class="todo "
            >
                <div class="todo--toggle-btn"></div>
                <div class="todo--content">This is Task #1 (Completed)</div>
            </li>
            
        </ul>
        <div class="todos--footer">
            <h2 class="todos--count">Total tasks: <span>3</span></h2>
            <a  href="#" class="todos--delete-btn">Clear Completed</a>
        </div>
    </div>
</div>