<div class="todos">
    <form>
        <input 
            type="text"
            name="inputTodo"
            placeholder="Create a new TODO..."
            class="todo--input"
        />
        <input 
            type="submit"
            value="ADD"
            class="todo--add"
        >
    </form>
    <div>
        <h2 class="todos--heading">Current Tasks</h2>
        <ul class="todos--list">
            <li
                class="todo"
            >
                <div class="todo--toggle-btn"></div>
                <div class="todo--content">This is Task #1 (not Completed)</div>
            </li>
        </ul>
        <div class="todos--footer">
            <h2 class="todos--count">Total tasks: <span>3</span></h2>
            <a class="todos--delete-btn">Clear Complete</a>
        </div>
    </div>
</div>